HOMELAB_IP=
PLEX_URL=
PLEX_TOKEN=
TAUTULLI_URL=
TAUTULLI_KEY=
OVERSEERR_URL=
OVERSEERR_KEY=
SONARR_URL=
SONARR_KEY=
RADARR_URL=
RADARR_KEY=
PROWLARR_URL=
PROWLARR_KEY=
SABNZBD_URL=
SABNZBD_KEY=
TRANSMISSION_URL=
ADGUARD_URL=
ADGUARD_USER=
ADGUARD_PASSWORD=
PROMETHEUS_URL=
GRAFANA_URL=
OPENSOAK_URL=
PORT=
WATCH_URL=http://10.10.10.50:8790
AIKB_HEALTH_URL=http://10.10.10.50:8791
